
@{
    ViewData["Title"] = "Ubigeo";
}

<h1>Ubigeo</h1>

<div class="form-group">
    <label  class="control-label"></label>
    <select asp-items="@ViewBag.departamentos" class="form-control" id="depa"></select>
    <span  class="text-danger"></span>
</div>

<div class="form-group">
    <label class="control-label"></label>
    <select class="form-control" id="prov"></select>
    <span class="text-danger"></span>
</div>
<div class="form-group">
    <label class="control-label"></label>
    <select class="form-control" id="dist"></select>
    <span class="text-danger"></span>
</div>

@section Scripts
    {
    <script>

       
        $(document).on("change", "#depa", function () {
            let codDepa = $(this).val();
            $("#prov").empty().append("<option value=' '>" + "[Seleccione Provincia]" + "</option>")
            $.ajax(
                {
                    url: "@Url.Action("Provincia","Ubigeo")",
                    dataType: "json",
                    data: { codDepa: codDepa },
                    type: "GET",
                    success: function (response) {
                        $.each(response, function (index, item) {
                            $("#prov").append("<option value='" + item.codigoProvincia + "'>" + item.nombre + "</option>");
                        })
                    }

                })
        })

        $(document).on("change", "#prov", function () {
            let codProv = $(this).val();
            $("#dist").empty().append("<option value=' '>" + "[Seleccione Distrito]" + "</option>")
            $.ajax(
                {
                    url: "@Url.Action("Distrito","Ubigeo")",
                    dataType: "json",
                    data: { codProv: codProv },
                    type: "GET",
                    success: function (response) {
                        $.each(response, function (index, item) {
                            console.log(response);
                            $("#dist").append("<option value='" + item.codigoDistrito + "'>" + item.nombre + "</option>");
                        })
                    }

                })
        })

    </script>
    }

