@model Proyecto_Almacen_T5DN_2023.Models.Proveedor

@{
    ViewData["Title"] = "Delete";
}

<div class="card">
    <div class="card-header">
        Eliminar Proveedor
    </div>
    <div class="card-body">


        <form asp-action="Delete" asp-controller="Proveedor" method="post">

            <input asp-for="idProveedor" type="hidden" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el contacto : @Html.DisplayTextFor(m => m.nombreProveedor) ?
            </div>

            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-action="Index" asp-controller="Cliente" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>
<br />
<div class="alert alert-danger">  @ViewBag.mensaje </div>

