@model Proyecto_Almacen_T5DN_2023.Models.Producto

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center">EDITAR PRODUCTO</h1>

<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-warning text-white text-center">
                <h3>Editar Producto</h3>
            </div>
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idProducto" class="control-label"></label>
                <input asp-for="idProducto" class="form-control" />
                <span asp-validation-for="idProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreProducto" class="control-label"></label>
                <input asp-for="nombreProducto" class="form-control" />
                <span asp-validation-for="nombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProveedor" class="control-label"></label>
                @*<input asp-for="idProveedor" class="form-control" />*@
                <br />
                    <select asp-for="idProveedor" asp-items="@ViewBag.PROVEEDOR" class="form-control"></select>
                <span asp-validation-for="idProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCat" class="control-label"></label>
                @*<input asp-for="idCat" class="form-control" />*@
                <br />
                    <select asp-for="idCat" asp-items="@ViewBag.CATEGORIA" class="form-control"></select>
                <span asp-validation-for="idCat" class="text-danger"></span>
            </div>
                <br />
            <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-warning" />
                    <a asp-action="Index" asp-controller="Producto" class="btn btn-outline-primary">Retornar a la lista</a>
            </div>
        </form>
        </div>
    </div>
    </div>


<br />

<div class="alert alert-warning col-md-4 text-center" role="alert">
    <div>@ViewBag.mensaje</div>
</div>
<br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
