@model Proyecto_Almacen_T5DN_2023.Models.Producto

@{
    ViewData["Title"] = "Eliminar";
}

<div class="card">
    <div class="card-header">
        Eliminar Producto
    </div>
    <div class="card-body">


        <form asp-action="Eliminar" asp-controller="Producto" method="post">

            <input asp-for="idProducto" type="hidden" />

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el contacto : @Html.DisplayTextFor(m => m.nombreProducto) ?
            </div>

            <button type="submit" class="btn btn-danger">Elimnar</button>
            <a asp-action="Index" asp-controller="Producto" class="btn btn-warning">Volver a la lista</a>
        </form>


    </div>
</div>
<br />
<div class="alert alert-danger">  @ViewBag.MENSAJE </div>